
#settings-wrapper {

}
  #settings-menu {
    flex: 0 0 auto;
    max-width: 350px;
    background: #ddeaee;
  }
    #settings-menu .section-title {
      text-shadow: 0 1px 0 rgba(255,255,255.5);
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
      #settings-menu .section-title a {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
        line-height: 22px;
        margin: 9px 0 0 0;

        background: #fff;
        color: #3c7688;

        /*background: rgba(0,0,0,0.15);*/
        /*color: #fff;*/
        /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);*/
      }
      #settings-menu .section-title a + a {
        margin-left: 5px;
      }
    #settings-menu .section-content {
      margin: 0;
    }
  #settings-content {
    padding: 15px 20px;
    flex: 1 1 100%;
  }
    #settings-content .section-title {
      padding: 0;
      font-size: 20px;
      color: #aaa;
      font-weight: normal;
    }
    #settings-content .section-content {
      /*margin-top: 15px;*/
    }

    .form-controls {
      margin: 30px 0 0;
      padding: 30px 0 0;
      border-top: 1px solid #e1e1e1;
    }
  .input-list-item {

  }
    .input-list-item .form-control {
      margin-left: -1px;
    }
    .input-list-item + .input-list-item,
    .input-pair + .input-pair {
      margin-top: -1px;
    }
  .settings-value-object {
  }
    .input-list .form-control,
    .settings-value-object .form-control {
      margin-bottom: 0;
      border-radius: 0;
    }
    .settings-value-object .input-pair-prop {
      width: 160px;
      background: #eeeeee;
    }
    .settings-value-object .input-pair-value {
      margin-left: -1px;
    }
    .input-list-item-drag {
      flex: 0 0 30px;
      height: 35px;
      line-height: 35px;
      cursor: row-resize;
      background: #f2f9fb;
      color: #08252d;
      border: 1px solid #ccc;
      text-align: center;
    }
    #settings-wrapper .delete-button {
      background: #990000;
      background: #b7567c;
      background: #92204d;
    }
    #settings-wrapper .add-button {
      background: #9cd4e4;
      /*border: 1px solid #ccc;*/
      margin: 15px 0 0;
    }
    #settings-wrapper .remove-button {
      margin: 0;
      padding: 0;
      margin-left: -1px;
      border-radius: 0;
      height: 35px;
      flex: 0 0 30px;
      line-height: 35px;
      padding: 0;
      text-align: center;
      overflow: hidden;
      display: block;

      background: #fdf7f9;
      border: 1px solid #ccc;
      color: #b7567c;
    }
    #settings-wrapper .remove-button:hover {
      background: #fbe9f0;
      color: #92204d;
    }
    #settings-wrapper .input-pair:first-child:last-child :first-child,
    #settings-wrapper .input-list-item:first-child:last-child :first-child {
      border-radius: 4px 0 0 4px;
    }
    #settings-wrapper .input-pair:first-child:last-child :last-child,
    #settings-wrapper .input-list-item:first-child:last-child :last-child {
      border-radius: 0 4px 4px 0;
    }
    #settings-wrapper .input-pair:first-child :first-child,
    #settings-wrapper .input-list-item:first-child :first-child {
      border-radius: 4px 0 0 0;
    }
    #settings-wrapper .input-pair:first-child :last-child,
    #settings-wrapper .input-list-item:first-child :last-child {
      border-radius: 0 4px 0 0;
    }
    #settings-wrapper .input-pair:last-child :first-child,
    #settings-wrapper .input-list-item:last-child :first-child {
      border-radius: 0 0 0 4px;
    }
    #settings-wrapper .input-pair:last-child :last-child,
    #settings-wrapper .input-list-item:last-child :last-child {
      border-radius: 0 0 4px 0;
    }



/* Alert overrides
--------------------------------------- */

#body .s-alert-box {
  opacity: 0;
  transition: all 500ms ease-in-out;
  top: 70px !important;
  left: 10px !important;
  right: 10px !important;
  margin: 0;
  width: auto;
  min-height: 100px;
  border-radius: 4px;
  max-width: none;
  display: block;
}
#body .s-alert-box.s-alert-show {
  opacity: 1;
}
  #body .s-alert-box.s-alert-show + .s-alert-box.s-alert-show { top: 120px; }
  #body .s-alert-box.s-alert-show + .s-alert-box.s-alert-show + .s-alert-box.s-alert-show { top: 170px; }

#body .s-alert-close {
  width: 20px;
  height: 20px;
  top: 8px;
  right: 7px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
#body .s-alert-box h3 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
#body .s-alert-box pre {
  margin-top: 20px;
}
#body .s-alert-box .alert-extra {
  margin-top: 20px;
  font-size: 10px;
  display: block;
  font-style: italic;
  color: #fff9;
}
#body .s-alert-box p {
  margin-top: 20px;
}

#body .s-alert-close::before,
#body .s-alert-close::after {
  width: 2px;
  height: 50%;
  background: rgba(255, 255, 255, 0.8);
}

#body .s-alert-success { background: #4aa8c5; }
#body .s-alert-error { background: #b7557c; }
#body .s-alert-info { background: #83b5c3; }


/* Confirm dialog overrides
--------------------------------------- */

#body .react-confirm-alert-overlay {
  background: none;
  background: rgba(0, 0, 0, 0.4);
}
  #body .react-confirm-alert {
    border-radius: 8px;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /*width: 100%;*/
    /*height: 100%;*/
    min-width: 50%;
    max-width: 80%;
    max-height: 80%;

    /*background: #3c7b8e;*/
    /*color: #fff;*/
  }
    /* Dialog title */
    #body .react-confirm-alert h1 {
      padding: 20px;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: #efefef;
    }
    #body .react-confirm-alert h1 i {
      color: #d6125d;
      margin-right: 10px;
      font-size: 24px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    }
    /* Dialog content for some reason... */
    #body .react-confirm-alert h3 {
      padding: 40px 20px;
      margin: 0;
    }
    #body .react-confirm-alert code {
      padding: 5px;
    }
    #body .react-confirm-alert h3 p + p {
      margin-top: 10px;
    }
    #body .react-confirm-alert-button-group {
      margin: auto 0 0;
      padding: 20px;
      background: #efefef;
      flex-direction: row-reverse;
      justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
      #body .react-confirm-alert-button-group button {
        margin: 0;
        padding: 7px 15px;
      }
        #body .react-confirm-alert-button-group button i {
          font-size: 14px;
          margin-right: 5px;
        }

      /* Cancel */
      #body .react-confirm-alert-button-group button:first-child {
        margin-left: 10px;

        background: #92204d;
        background: #9e9e9e;
      }

      /* Confirm */
      #body .react-confirm-alert-button-group button:last-child {

        background: #267d97;
        background: #92204d;
      }


/* Toggle input overrides
--------------------------------------- */

.react-toggle-track {
  background: #717171;
}
.react-toggle-thumb {
  border-color: #515151;
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: #616161;
}
.react-toggle--focus .react-toggle-thumb {
  box-shadow: none !important;
}
  .react-toggle--checked .react-toggle-track {
    background: #3ba4ca;
  }
  .react-toggle--checked .react-toggle-thumb {
    border-color: #00b0ea;
  }
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background: #00b0ea;
  }